
<button type="submit" class="btn btn-outline-secondary mr-4" (click)="openCreateModal()" placement="top" >
  Create Products
</button>
<div class="container">
<table class="table table-striped">

  <thead>
  <tr>

    <th scope="col">Product</th>
    <th scope="col">Name</th>
    <th scope="col">Quantity</th>
    <th scope="col">Price</th>
    <th scope="col">Actions</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let fruits of allFruits">

    <td>
      <img src="{{fruits.irl}}" class="mr-2" style="width: 60px">

    </td>
    <td>{{ fruits.Name}}</td>
    <td>{{ fruits.Quantity}}</td>
    <td>{{ fruits.Price}}</td>
    <td>
      <button type="button" class="btn btn-outline-secondary mr-2" placement="top"(click)="deleteProduct(fruits)" >
       Delete
      </button>

    </td>
    <td>
      <button type="button" class="btn btn-outline-secondary mr-2" placement="top" (click)= edit(fruits) >
       Edit
      </button>

    </td>
  </tr>
  </tbody>
</table>
</div>

<!-- delete pop -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure to delete the item?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()"  data-bs-dismiss="modal">
          Confirm Delete
        </button>
      </div>
    </div>
  </div>
</div>


